#game {
  display: grid;
  gap: 10px;
  width: 300px;
  margin: 20px auto;
}

.tile {
  width: 80px;
  height: 80px;
  background: #444;
  border-radius: 5px;
  cursor: pointer;
}

.tile.active {
  background: #00ff66;
}
